/*  css bloggers */
A{text-decoration:none;}
BBODY{}
.container{width:1000px; border:0px solid #a73939; margin:auto; text-align:center; background-color:#fff;}

.navbar{ width:1000px;background-color:#f3f3f3;text-align:left;margin-bottom:10px;}
.menulinks{width:296px;float:left; border:1px solid #dddddd;border-radius:10px;}
.inforechts{width:700px;float:left;border-radius:10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.inforechts2{width:700px;float:left;text-align:left;}
.clearingrow{clear:both;}

#set1{background-image:url(../images/content01.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set2{background-image:url(../images/content02.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set3{background-image:url(../images/content03.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set4{background-image:url(../images/content04.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set5{background-image:url(../images/content05.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set6{background-image:url(../images/content06.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set7{background-image:url(../images/content07.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set8{background-image:url(../images/content08.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set9{background-image:url(../images/content09.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set10{background-image:url(../images/content10.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set11{background-image:url(../images/content11.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set12{background-image:url(../images/content12.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
#set13{background-image:url(../images/content13.jpg);background-position:bottom right;height:400px;background-repeat:no-repeat; border:1px solid #dddddd; display:none;border-radius:10px;}
.bannerrij1{float:left;width:223px;vertical-align:top;text-align:left;margin-left:10px;  }
.bannerrij2{float:left;width:223px;vertical-align:top;text-align:left;margin-left:10px;  }
.bannerrij3{float:left;width:222px;vertical-align:top;text-align:left;margin-left:10px;  }

.bannerlink{margin:3px;color:#0090e3; font-family:arial;font-size:14px;line-height:20px;}		  			/* coolblue blauw   */
.bannerlink:hover{color:#ff6600;} 										/*  coolblue orange */
.bannertopictext{margin:3px;color:#000; font-family:arial;font-size:16px;font-weight:bold;}                     /* zwart            */

.menulinks A{display:inline-block;width:286px;background-color:#fff;color:#0090e3;margin:0px;padding:0px;font-family:arial;font-size:16px;text-align:left;padding-left:5px;line-height:30px;} /* de link link in menu 100% width*/
.menulinks A:hover{background-color:#cce9f9;} 


.aanbiedingrow{width:1000px;margin:auto;}
.aanbiedingblok{float:left;width:233px;height:420px;border:0px solid #999999;text-align:center;}
.aanbiedingblok:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.productname{font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-size:15px;font-weight:bolder;color:#0090e3;}
.productname:hover{cursor:pointer;text-decoration:underline;}
.viewallproducts{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;color:#0090e3;text-align:left;}
.viewallproducts:hover{color:#ff6600;text-decoration:underline;}

.topbanner{width:100%;height:53px;background-color:#0090e3;margin-bottom:10px;}
.topbannerinner{width:1000px;height:53px;margin:auto;background-image:url(../images/coolbluelogo85x53.jpg);background-position: top left;background-repeat:no-repeat;}
.searchfield{float:left;margin-left:100px;margin-top:8px;width:400px;height:30px;background-color:#fff;border:1px solid #666;border-radius:10px;font-family:arial;font-size:16px;color:#666;}
.seachbutton{float:left;margin-top:12px;font-size:18px;font-family:arial;font-weight:bold;color:#0090e3;background-color:#fff;}
.iconwinkelwagen{width:75px;height:50px;float:right;}

.product_uitverkocht{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;color:#666;line-height:33px;}
.morgen_in_huis{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;color:#008500;line-height:33px;}
.eigenschappen{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;color:#666;line-height:20px;text-align:left;margin-left:15px;}
.ww-icon{height:20%;width:20%;margin-left:30px;}

.filterhead{font-size:16px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;color:#000;}
.filteroptie{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:normal;color:#666;line-height:20px;padding-bottom:20px;}

.NavigatieBalk{width:700px;border-bottom:1px solid #ddd;padding-bottom:10px;margin-bottom:10px;}
.NavigatieInfo{text-align:left;font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;color:#666;width:700px;}
.Navigatiebuttons{text-align:right;font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;color:#666;width:700px;}

.currentpage{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;color:#ff6400;}
.preNextPage{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:normal;color:#285dab !important;}
.preNextPage:hover{color:#ff6400 !important;}

.productfoto{margin-bottom:10px;}

.productpagemenulinks{width:200px;text-align: left;float:left;}
.productblock{width:790px;text-align:left;float:left;}
.productblockLeft{width:430px;float:left;text-align:left;}
.productblockRight{width:340px;float:left;padding-left:10px;text-align:left;}
.product_title{font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-size:20px;font-weight:bolder;color:#0090e3;}

.productpage_buy_bar{
                    color:#fff;
font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;                    
                    width:336px;height:40px;
                    border:1px solid #005e00;
                    border-bottom:2px solid #005e00;
                    background-color:#00b900;
                    border-radius:4px;
}
.productpage_buy_bar:hover{
                    border:1px solid #009900;
                    border-bottom:2px solid #009900;
                    background-color:#009600;
}
.productpage_combi_bar{
    padding-left:10px;
                    color:#fff;
font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;                    
                    width:336px;height:40px;
                    border:1px solid #285dab;
                    border-bottom:2px solid #285dab;
                    background-color:#40acea;
                    border-radius:4px;
}
.productpage_combi_bar:hover{
                    border:1px solid #285dab;
                    border-bottom:2px solid #285dab;
                    background-color:#0090e3;
}
.productpage_keuzehulp_bar{
                    color:#fff;
font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;                    
                    width:180px;height:40px;
                    border:1px solid #285dab;
                    border-bottom:2px solid #285dab;
                    background-color:#40acea;
                    border-radius:4px;
}
.productpage_keuzehulp_bar:hover{
                    border:1px solid #285dab;
                    border-bottom:2px solid #285dab;
                    background-color:#0090e3;
}
.seperator{font-size:10px;}
.seperatorline_gray{border-bottom:1px solid #dddddd;}
.seperator_10{font-size:10px;}
.seperator_20{font-size:20px;}
.seperator_30{font-size:30px;}
.seperator_5{font-size:5px;}
.alignLeft{text-align:left;}

.textblack{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#000;}
.textwit{color:#fff;}
.textorange{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#ff6600;}
.textgray{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#3f3933;}
.infoline{line-height:18px;}

.menublue{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#00a8e9;margin-left:20px;line-height:20px;vertical-align: middle;}
.menublue:hover{text-decoration:underline;}

#idnew{position:relative;}
#wwplaceholder{position:absolute; top:0px; right:2px;}
#wwimage{position:absolute; top:0px; right:2px;}
.ww-icon{width:20%;height:20%;}
#wwcircle{position:absolute; top:11px; right:38px;}
#wwaantal{position:absolute; top:16px; right:46px;color:#fff;font-size:12px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;font-weight:bold;}
.wwbuttontext{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#fff;font-weight:bold;}

.winkelwagenpage{width:1000px;}
.wwblockLeft{width:600px;float:left;}
.wwproduct_1{width:100px;background-color:fff;float:left;}
.wwproduct_2{width:200px;background-color:fff;float:left;}
.wwproduct_3{width:150px;background-color:fff;float:left;text-align: right;}
.wwproduct_4{width:150px;background-color:fff;float:left;text-align: right;}
.wwseperatorline_gray{font-size:5px;width:600px;border-bottom:1px solid #dddddd;clear:both;}
.wwproductname{font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#0090e3;font-weight:bold;}
.wwproductname:hover{text-decoration:underline;}
.wwblockRight{width:390px;float:left;margin-left:10px;text-align:left;}
.wwr2L{width:450px;float:left;text-align: right;padding-top:6px;}
.wwr2R{width:150px;float:left;text-align: right;padding-top:8px;}
.WWseperatorline2{width:400px;float:right;border-bottom:1px solid #dddddd;}

.wwbzinfo_blue{padding-left:10px;width:380px;height:30px;border-bottom:1px solid #fff;background-color:#ffff;padding-top:5px;}
.wwbzinfo_blue:hover{border-bottom:1px solid #8dc8ea;background-color:#e5f6ff;}
.wwbzinfo_wit{padding-left:14px;font-size:14px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#000;sfont-weight:bold;}

.winkelmadjeslogun{width:1000px;text-align:left;margin-bottom:5px;}
.WWwinkelmandje{font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#285dab;font-size:26px;font-weight:bold;}
.WWpunt{font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#ff6600;font-size:26px;font-weight:bold;}
.WWallesopeenrijtje{font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#0090e3;font-size:20px;font-weight:bold;}

.pageinfo{padding:10px;text-align:left;height:200px;border:0px;background-image:url(../images/walter.jpg);background-position:bottom right;background-repeat:no-repeat;}
.indexbigmenu{position:absolute;top:114px;background-color:#fff;z-index:100;}

.buttondelete{font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#fff;font-size:14px;font-weight:bold;background-color:#d5270a;border-radius:4px;border:1px solid #993828;margin-left:4px;margin-top:3px;}
.buttonquantity{font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#fff;font-size:14px;font-weight:bold;background-color:#3ae251;border-radius:4px;border:1px solid #0e9c21;}
.quanityinput{width:35px;height:20px;font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#000;font-size:14px;border-radius:4px;border:1px solid dddddd;}

.footer{width:100%;height:170px;text-align:center;background-color:#0090e3;}
.footerinner{width:1000px;height:170px;margin:auto;background-color:#0090e3;}
.footerlist{float:left;width:240px;padding-left:10px;text-align:left;}
.footerlist li{font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#fff;font-size:12px;list-style-type:none;margin-bottom:5px;}
.footerlist li:hover{text-decoration:underline;}
.footertopic{font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#fff;font-size:14px;font-weight:bold;margin-bottom:10px;}

.glimlachcontainer{width:1000px;text-align:left;clear:right;}
.glimlachimg{float:left;vertical-align: middle;}
.glimlachbluecheck{float:left;line-height:50px;margin-top:15px;margin-right:4px;margin-left:20px;}
.glimlachtext{float:left;line-height:50px;}

.emptydiv{font-size:1px;}
.WWactionmessage{font-family:Open Sans,Arial,Helvetica,Verdana,sans-serif;color:#fb3434;font-size:16px;text-align:left;font-weight:bold;}
